<div class="container">
	<h1>{{$ctrl.heading}}</h1>
	<div >
		<md-button class="md-raised" ng-click="$ctrl.testDialog()">Button 333</md-button>
    </div>                   

    
    <div>
       
            <label>Title 444</label>
            <input ng-model="user" class="input">
         

    </div>
    <div>
        <input type="text" class="input">
    </div>
		<button ng-click="$ctrl.testDialog()">Dialog</button>
		
		<h3>
			<date-picker date="$ctrl.date"/>
		</h3>
		<pre>
			{{$ctrl.date}}
		</pre>

		<button ng-click="$ctrl.setToday()">Set today</button>

</div>
