<div class="container">
	<h1>{{$ctrl.heading}}</h1>
	<div >
		<md-button class="md-raised" ng-click="$ctrl.testDialog()">Button 333</md-button>
    </div>                   

    
    <div>
       
            <label>Title 444</label>
            <input ng-model="user" class="input">
         

    </div>
    <div>
        <input type="text" class="input">
    </div>
        <md-select name="type" ng-model="project" >
          <md-option  value="app">Application</md-option>
          <md-option value="web">Website</md-option>
        </md-select>

</div>
